:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #dae6dc;
  /* background-image: url("https://i.imgur.com/OWgjztn.png"); 25 font */
  background-image: url("https://i.imgur.com/NVKJ21J.png");
  background-size: cover;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR FUNCTIONALITY AND STYLING */
#main {
  margin-left: 4rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}

.navbar::-webkit-scrollbar {
    width: 0em;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: rgb(54, 165, 54);
}

.fa-secondary {
  color: rgb(31, 206, 31);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.navbar-logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.navbar-logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .navbar-logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .navbar-logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

/* HOMEPAGE */
#homepage {
  font-size: xx-large;
  text-align: center;
}

#homepage-welcome {
  /* color: rgb(18, 122, 18); */ /* This one is a green color*/
  color:rgb(23, 39, 134);
  font-family: 'Cinzel', serif;
  text-decoration: underline;
}

#homepage-slogan {
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
}

/* #homepage-paras-div {
  border: 3px black double;
  width: 700px;
} */

.homepage-paras {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* LOGIN FORM */
#login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#form-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 250px;
  padding: 50px;
  /* background: rgba(255, 255, 255, 0.7); */ /* Seethrough white color*/
  background: rgba(56, 189, 56, 0.7);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50% 5px 50% 25px;
  overflow: hidden;
  backdrop-filter: blur(1px);
  color: rgb(23, 39, 134);
}

#form-flex input {
  color: rgb(23, 39, 134);
}

#form-flex button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  cursor: pointer;
  outline: none;
  background: white;
  color: rgb(23, 39, 134);
  font-weight: 550;
  font-size: 15px;
  border-radius: 5px;
}

#form-flex button:active {
  background-color: rgb(188, 188, 207);
  color: rgba(23, 39, 134, 0.7);
}

.login-text-bold {
  display: flex;
  font-weight: 650;
}

/* Background video */

#background-video {
  width: 100%;
  max-height: 500px;
  z-index: -1;
  opacity: 1;
  object-fit: cover;
}

#logo{
  mix-blend-mode: multiply;
  position: absolute;
  align-items: center;
  margin: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  
}


/*CONTRACT CARD*/
.contract-card{
    float: left;
    width: 300px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px 5px 5px 10px;
    height: 290px;
    border-radius: 15px;
    background-color: rgb(189, 192, 204);
}

.contract-card:hover{
    transform: translateY(-0.75px);
    box-shadow: 4px 6px 15px -1px rgba(0,0,0,0.15);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    mix-blend-mode: unset;
}

.contract-card:active{
    transform: translateY(-1px);
    box-shadow: 4px 6px 8px -1px rgba(0,0,0,0.65);
    opacity: 0.8;
}

.contract-lender {
  font-family: 'Gideon Roman', cursive;
}

/* CONTACT US */
.contact-links{
  text-decoration: none;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
}

.container {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(2px);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  pointer-events: none;
  transform: skewX(-15deg);
}

.container h2 {
  width: 100%;
  text-align: center;
  color: rgb(23, 39, 134);
  font-size: 36px;
  margin-bottom: 20px;
}

.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}

.container .row100 .col .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: rgb(23, 39, 134);
}

.container .row100 .col .inputBox input,
.container .row100 .col .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  z-index: 1;
  color: rgb(23, 39, 134);
}

.container .row100 .col .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container .row100 .col .inputBox input:focus + .text,
.container .row100 .col .inputBox input:valid + .text,
.container .row100 .col .inputBox textarea:focus + .text,
.container .row100 .col .inputBox textarea:valid + .text  {
  top: -35px;
  left: -10px;
}

.container .row100 .col .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .col .inputBox input:focus ~ .line, 
.container .row100 .col .inputBox input:valid ~ .line {
  height: 100%;
}

.container .row100 .col .inputBox .textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container .row100 .col .inputBox textarea:focus ~ .line, 
.container .row100 .col .inputBox textarea:valid ~ .line {
  height: 100%;
}

.container .row100 .col .inputBox select {
  color: rgb(23, 39, 134);
  width: 100%;
  text-align: center;
}

.container .row100 .col button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: white;
  color: rgb(23, 39, 134);
  font-weight: 600;
  font-size: 18px;
  border-radius: 2px;
}

.container .row100 .col button:active {
  background-color: rgb(188, 188, 207);
  color: rgba(23, 39, 134, 0.7);
}


/* LENDERS PAGE */
.lender-card{
  float: left;
  width: 300px;
  border: 1px solid black;
  margin: 10px;
  padding: 5px 5px 5px 10px;
  height: 290px;
  border-radius: 15px;
  background-color: rgb(189, 192, 204);
}

.lender-card:hover{
  transform: translateY(-0.75px);
  box-shadow: 4px 6px 15px -1px rgba(0,0,0,0.15);
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
  mix-blend-mode: unset;
}

.lender-card:active{
  transform: translateY(-1px);
  box-shadow: 4px 6px 8px -1px rgba(0,0,0,0.65);
  opacity: 0.8;
}

#jpmorgan-card {
  background-color: rgb(118, 136, 202);
}

#jpmorgan-card img {
  width: 40px;
}

#canadia-card {
  background-color: rgb(214, 81, 81);
}

#canadia-card img {
  width: 40px;
}

#capitaltwo-card {
  background-color: rgb(33, 62, 168);
}

#capitaltwo-card img {
  width: 40px;
}

#silverman-card {
  background-color: rgb(165, 169, 182);
}

#silverman-card img {
  width: 40px;
}

#ttbank-card {
  background-color: rgb(91, 180, 98);
}

#ttbank-card img {
  width: 40px;
}